{#- Set variables -#}
  {%- set index = get_section(path="_index.md") -%}
  {%- set subsections = index.subsections -%}
{#- End load variables -#}
<!doctype html>
<html lang="en" style="background: #fdf6e3;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {%- if page.title -%}
      {{ config.title }} - {{ page.title }}
      {%- elif section.title -%}
        {{ config.title }} - {{ section.title }}
      {%- else -%}
        {{ config.title }}
      {%- endif -%}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="icon" type="image/png" href="{{ config.base_url }}/images/index/favicon.png">
  </head>
  <body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ config.base_url }}">
        <h1 class="title is-4" style="color: white;">
          {{ config.title|capitalize }}
        </h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        {% for path in subsections %}
          {% set subsection = get_section(path=path) %}
            {#- Find out if this is the active page -#}
            {%- if page -%} {#- We are on a page -#}
              {%- if page.components[0] == subsection.components[0] -%}
                {%- set active_page = true -%}
              {%- endif -%}
            {%- elif section -%} {#- We are on a section or index -#}
              {%- if section.components -%} {#- On a section -#}
                {% if section.components[0] == subsection.components[0] -%}
                  {%- set active_page = true -%}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
            <a class="navbar-item {% if active_page %}is-active{%- endif -%}" href="{{ subsection.permalink }}">
              {{ subsection.title }}
            </a>
        {% endfor %}
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="{{ config.extra.github }}">
              <span class="icon">
                <img src="/images/index/github-brands.svg"/>
              </span>
              <span>
              View on github
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </nav>

  <section class="section main-content container is-max-widescreen" style="padding: 1rem 3rem;">

      {% block content %} {% endblock %}
  </section>

  <script src="/js/navbar.js"></script>
  <footer class="footer" style="background: #d3cbb7">
    <div class="content has-text-centered">
      <a href="https://bulma.io">
        <img
          src="{{ config.base_url }}/images/index/made-with-bulma.png"
          alt="Made with Bulma"
          width="128"
          height="24">
      </a>
      <p>
        Built with <a href="https://www.getzola.org/">Zola</a>
      </p>
    </div>
  </footer>
</body>

</html>