{% extends "base.html" %}

{% block content %}

{# Load current section variables #}

  {% set section = get_section(path=subsections[1]) %}

{# End load section variables #}

<div class="column is-full">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ config.base_url }}">Home</a></li>
      <li><a href="{{ section.permalink }}">{{ section.title }}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
    </ul>
  </nav>
</div>

<div class="columns">
  <div class="column">
    <h2 class="title title is-4">{{ page.title }}</h2>
    <div class="block">
      {{ page.description }}
    </div>
    <table class="table is-striped is-bordered">
      <thead>
        <th>Name</th>
        <th>sha256sum</th>
      </thead>
      {%- for file in page.extra.files -%}
        <tr>
          <td width="25%"><a href="{{ file.link }}">{{ file.name }}</a></td>
          <td>{{ file.sha256sum }}</td>
        </tr>
      {%- endfor -%}
      </table>
  </div>
</div>

{% if page.content -%}
<div class="content">{{ page.content | safe }}</div>
{%- endif -%}

{% endblock content %}