{% extends "base.html" %}

{% block content %}

{# Load current section variables #}

  {% set section = get_section(path=subsections[0]) %}

{# End load section variables #}

  <div class="column is-full">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ config.base_url }}">Home</a></li>
        <li><a href="{{ section.permalink }}">{{ section.title }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
      </ul>
    </nav>
  </div>

  <div class="columns is-multiline is-centered">
    {%- if page.extra.pictures -%}
      {%- set length = page.extra.pictures | length -%}
      {%- for picture in page.extra.pictures -%}
        {%- if length == 1 -%}
    <div class="column">
      <a href="{{ picture }}">
        <img src="{{ picture }}" />
      </a>
    </div>
        {%- else -%}
    <div class="column is-half">
      <center>
        <a href="{{ picture }}">
          {%- set thumbnail = resize_image(path=picture, width=600, height=400, format="webp", quality=75, op="fit_height") -%}  
          <img src="{{ thumbnail.url }}" />
        </a>
      </center>
        {%- endif -%}
      </div>
      {%- endfor -%}
    {%- endif -%}
  </div>

  <div class="columns">
    <div class="column">
      {%- if page.extra.specs -%}
      <h2 class="title title is-4">{{ page.title }}</h2>
      <div class="block">
        Something incorrect in the table below ? You can open an <a href="{{ config.extra.issues }}">issue</a>.
      </div>
      <table class="table is-striped is-bordered is-fullwidth">
      {%- for key, value in page.extra.specs -%}
        <tr>
          <td width="33%">{{ key|upper }}</td>
          <td>{{ value }}</td>
        </tr>
      {%- endfor -%}
      </table>
      {%- endif -%}
      {% if page.content -%}
        <h2 class="title title is-4">More</h2>
        {{ page.content | safe}}
      {%- endif -%}
    </div>
  </div>

{% endblock content %}